.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1080px;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
}

form {
    align-items: center;
    display: flex;
    justify-content: center;
}

.movies {
    list-style: none;
    margin: 0;
    padding: 0;

    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.movie{
    text-align: center;
}

.movie h5{
    padding: 0;
    margin: 3px;
}

.movie img{
    border-radius: 8px;
}